<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="mhashim6.android.quickQuery">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.GET_CLIPS"/>
	<uses-permission android:name="android.permission.READ_CLIPS"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION"/>


	<application
		android:name=".App"
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher_round"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
		tools:ignore="GoogleAppIndexingWarning">


		<activity
			android:name=".MainActivity"
			android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".QQActivity"
			android:excludeFromRecents="true"
			android:noHistory="true">
			<intent-filter>
				<action android:name="android.intent.action.PROCESS_TEXT"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>

			<intent-filter>
				<action android:name="QUICK_QUERY_ACTION"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>
		</activity>

		<receiver android:name=".BootBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<receiver android:name=".UpdateBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.MY_PACKAGE_REPLACED "/>
			</intent-filter>
		</receiver>

		<service android:name=".ClipboardMonitor"/>
	</application>

</manifest>